.box9 {
    background-color: #191919;
    height: 40px;
    width: 1250px;
  nav {
    list-style-type: none;
    margin: none 100px;
    margin-left: 100px;;
    color: grey;
    font-size: 13px; 
    width: 1000px;
  }
  
  li {
    display: block;
    width: 10%;
    text-align: center;
    cursor: pointer;
  }
}

.active {
    border-bottom: 2px solid white;
    color: white;
  &:after {
    margin-top: 20%;
    display: block;
    content: '';
    background-color: #aaaaaa;
  
  }
}
  