.right-container {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* banner */
  .box7 {
    height: 320px;
  img {
    width: 1252px;
    margin: none;
    padding: none;
    z-index: 0;
  }
}