
    //background
    $bg: #212121;
    $container-bg: #212121;
    $header-bg: #191919;
    $outside-nav-bg: #909090;

    //text
    $inactive-text: #808080;
    $active-text: #FFFFFF;

    //buttons
    $subscribe-btn: #FF0000;

    //icons
    $icon: #909090;


/* LIGHT MODE */
    $bg-light: white;


